.header-bg {
  background: var(--cor-11);
}

.header {
  flex-wrap: wrap;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  padding: 0px;
  margin-left: 0px;
  transition: 0.3s;
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
}
.header-menu {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.header-menu a {
  color: var(--cor-0);
  display: inline-block;
  padding: 5px 0px 5px 0px;
  text-transform: uppercase;
  border-radius: 4px;
  position: relative;
}

@media (max-width: 800px) {
  .header-menu a::after {
    display: none;
  }
  .header-menu a {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 20px 12px;
    border-radius: 4px;
  }
}
.header-menu a:hover {
  background-color: rgba(rgba(80, 80, 80), rgb(161, 161, 161), rgba(0, 0, 0));
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.171),
    rgba(173, 173, 173, 0.644),
    rgb(211, 199, 199)
  );
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
